#calltoaction {
  color: #ffffff;
  background-color: #222;
  background-size: cover;
  padding: 100px 0 0 0;
  background: radial-gradient(ellipse at center center, #a0c5d5 0px, #6597b0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  min-height: 300px;
}
#calltoaction h1,
#calltoaction h2,
#calltoaction h3,
#calltoaction h4,
#calltoaction h5,
#calltoaction h6 {
  color: #ffffff;
}
#calltoaction * {
  text-align: center;
}
#calltoaction h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
#calltoaction #badge {
  margin: 20px auto auto auto;
  background-repeat: no-repeat;
  background-image: url("../images/badge/hand.png");
  width: 354px;
  height: 320px;
}
#calltoaction #badge .badge {
  width: 354px;
  height: 240px;
  margin-top: 20px;
  border: 1px solid #999;
  border-radius: 10px;
  background: #fff;
  padding: 15px;
}
#calltoaction #badge .badge .badge-top-left {
  background-image: url('../images/badge/logo.jpg');
  background-position: center center;
  background-size: 90%;
  width: 135px;
  height: 135px;
  float: left;
  border-right: 1px solid #eee;
}
#calltoaction #badge .badge .badge-top-right {
  float: left;
  margin-left: 20px;
  color: #333;
  font-size: 18px;
  height: 150px;
  padding-top: 15px;
  text-align: left;
  width: 140px;
}
#calltoaction #badge .badge .badge-top-right span {
  font-size: 12px;
  font-weight: 400;
}
#calltoaction #badge .badge .badge-top-right div.rating {
  text-align: right;
  width: 150px;
  font-size: 12px;
  line-height: 20px;
  margin-top: 63px;
}
#calltoaction #badge .badge .badge-top-right div.rating .stars {
  background-image: url('../images/badge/stars.jpg');
  width: 100px;
  height: 20px;
  text-align: right;
  float: left;
}
#calltoaction #badge .badge .badge-bottom {
  clear: both;
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 13px;
}
#calltoaction #badge .badge .badge-bottom .button1 {
  margin: auto;
  width: 150px;
  height: 41px;
  border: 1px solid #0093d0;
  border-radius: 5px;
  line-height: 41px;
  color: #ddd;
  background: #0093d0;
  text-align: right;
  padding-right: 28px;
}
#calltoaction #badge .badge .badge-bottom .button1 .freelancer-logo {
  background: #ffffff;
  background-image: url('../images/badge/freelancer.png');
  background-repeat: no-repeat;
  background-position: 10px 0px;
  width: 49px;
  height: 100%;
  float: left;
}
#calltoaction #badge .badge .badge-bottom .button1:hover {
  color: #fff;
}
.calltoaction-decription {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #fff;
}
.calltoaction-btn {
  text-align: center;
}
.calltoaction-btn > .btn {
  background: rgba(255, 255, 255, 0.8);
  color: #111;
  margin-top: 5px;
  margin-bottom: 5px;
}
.calltoaction-btn > .btn:hover {
  background: #fff;
}
