/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */
.header {
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  width: 100%;
  z-index: 998;
}
.navbar {
  border: 0;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  background: #fff;
  padding: 0;
}
.navbar .dropdown-menu {
  background: #fff;
  padding: 0;
}
.navbar .navbar-brand,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav .dropdown-menu > li > a {
  font-size: 11px;
  letter-spacing: 3px;
  color: #222;
}
.navbar .nav li.active,
.navbar .nav li a:hover,
.navbar .nav li a:focus,
.navbar .navbar-nav > li.active a {
  background: none;
  outline: 0;
  color: #E7746F;
}
.navbar .navbar-brand {
  font-weight: 700;
  font-size: 22px;
  font-family: 'Bilbo Swash Caps', cursive;
  text-transform: none;
}
.navbar .dropdown-menu {
  border: 0;
  border-top: 2px solid #E7746F;
  border-radius: 0;
}
.navbar .dropdown-menu > li > a {
  padding: 10px 20px;
}
.navbar .nav .open > a,
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus {
  background: #f5f5f5;
}
.navbar .navbar-toggle .icon-bar {
  background: #222;
}
